<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Book Store</title>
</head>
<body>
	<h1>Book Store</h1>

	<form method="post" action="#" th:action=@{/index} th:object=${book}>
		<h2>Add new book</h2>

		<label>Title:</label> <input type="text" th:field=${book.title}
			name="title"> <br /> <label>Author:</label> <input
			type="text" th:field=${book.author} name="author"> <br /> <label>Year:</label>
		<input type="number" th:field=${book.year} name="year"> <br />
		<label>ISBN:</label> <input type="number" th:field=${book.isbn}
			name="isbn"> <br /> <label>Price:</label> <input
			type="number" th:field=${book.price} name="price"> <br /> <input
			type="submit" value="Submit">
	</form>

	<h2>Booklist:</h2>

	<table>
		<tr>
			<td>Title:</td>
			<td>Author:</td>
			<td>Year:</td>
			<td>ISBN:</td>
			<td>Price:</td>
		</tr>
		<tr th:each="book : ${books}">
			<td th:text="${book.title}"></td>
			<td th:text="${book.author}"></td>
			<td th:text="${book.year}"></td>
			<td th:text="${book.isbn}"></td>
			<td th:text="${book.price}"></td>
		</tr>
	</table>

</body>
</html>